<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/weebzone/weebzone/data/Surf-TG/src/ico2.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://cdn.jsdelivr.net/gh/weebzone/weebzone/data/Surf-TG/src/ico2.png"
        type="image/x-icon">
        <link href="https://raw.githubusercontent.com/avdhez/Surf-Tg/refs/heads/main/bot/server/template/site.css  rel="stylesheet"">
    <title>AFLIX: Login</title>
  
</head>
<style>

  
</style>
<body>
<center>
  
    <div class="container">
      
        
        <h1 style="text-shadow: 0 0 5px red; color: red; font-weight: 700;">WELCOME TO AFLIX</h1>
        
        
        <form id="signinForm" action="/login" method="post">
            <input type="hidden" name="redirect_url" value="{{ redirect_url }}">
            
                <div class="inputBox">
                    <label for="exampleInputUsername" class="form">Username</label>
                    <input type="text" class="form-control" id="exampleInputUsername" name="username"
                        placeholder="Enter username">
                </div>
                <div class="inputBox">
                    <label for="exampleInputPassword1" class="form">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                        placeholder="Password" autocomplete="off">
                </div><br/>
                <div class="text-center">
                    <button type="submit" class="inputBtn">SUBMIT</button>
                </div>
            
        </form>

  <div class="error" id="errorPopup">
            <strong>Oh snap! <!-- Error --></strong>
        </div>
    </div>
</center>
</body>
<script>
    window.onload = function () {
        var errorPopup = document.getElementById("errorPopup");
        var errorMessage = errorPopup.querySelector("strong").innerText.trim();

        if (errorMessage !== "Oh snap! Invalid username or password") {

            errorPopup.style.display = "none";

        }
        if (errorMessage === "Oh snap! Invalid username or password") {
            setTimeout(function () {
                errorPopup.style.display = "none";
            }, 5000);
        }
    };
</script>


</html>